.Weapon-Page {
    background: rgba(128, 128, 128, 0.13);
    font-family: 'Tomorrow', sans-serif;
}

.Weapon-Intro {
    height: 90vh;
    background-image: url('https://n9e5v4d8.ssl.hwcdn.net/fp-vids/revenant-fallback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    color: white;
}

.Weapon-Intro h3 {
    margin: 0;
    padding: 0;
    font-family: 'Alata', sans-serif;
    font-size: 300%;
    padding-top: 20%;
}

.Weapon-Filter {
    width: 96%;
    margin: 0.5% auto;
    padding: 1% 0%;
    background: white;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    font-family: 'Tomorrow', sans-serif;
}

.Weapon-Filter input, select {
    width: 20%;
    margin: auto;
    font-family: 'Tomorrow', sans-serif;
}

.Weapon-List {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}