/* General */
.Weapon {
    font-family: 'Tomorrow', sans-serif;
    padding-top: 4%;
}

/* Title */
.Weapon-Title {
    font-size: 400%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Alata', sans-serif;
    text-shadow: 0 0 0.2em rgb(92, 202, 253), 0 0 0.2em rgb(92, 202, 253), 0 0 0.2em rgb(92, 202, 253);
}

.Weapon-Desc {
    text-align: center;
}

/* Main section */
.Weapon-Section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.Weapon-Main-Img {
    width: 50%;
}

.Weapon-Specifications {
    width: 50%;
}