 /* Header */
.Header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    position: fixed;
    position: 0;
    width: 100%;
}
/* Header themes */
.Default-Theme {
    background: rgb(212, 212, 212);
}
.Default-Theme > *:hover {
    background: rgb(187, 187, 187);
}

.Red-Theme {
    background: maroon;
}
.Red-Theme > *:hover {
    background: rgb(150, 0, 0);
}

.Blue-Theme {
    background: rgb(0, 139, 194);
}
.Blue-Theme > *:hover {
    background: rgb(0, 150, 209);
}

/* General Header Links settings */
.Header-Link {
    margin: auto;
    padding: 20px 30px;
    text-decoration: none;
    color: black;
    transition-duration: 0.5s;
    font-family: 'Alata', sans-serif;
}
.Header-Link:hover {
    cursor: pointer;
    color: white;
}